
.container {

  label {
	margin-left: 10px;
	font-size: 40px;
	font-weight: bold;
  }

  input {
	margin-top: 10px;
	height: 6vh;
	border-radius: 20px;
	font-size: 20px;
	padding: 2px 15px;
	width: 90%
  }

  img {
	margin-left: 10px;
	height: 5vh;
	border-radius: 10px;
  }
}



